<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jobapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/job_appp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobApplication">
        <activity
            android:name=".forgotpassword"
            android:exported="false" />
        <activity
            android:name=".Analysis"
            android:exported="false" />
        <activity
            android:name=".empreports"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Reports"
            android:exported="false" />
        <activity
            android:name=".Manageusers"
            android:exported="false" />
        <activity
            android:name=".Managejobs"
            android:exported="false" />
        <activity
            android:name=".notification"
            android:exported="false" />
        <activity
            android:name=".Drawerbase"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.JobApplication.NoActionBar" />
        <activity
            android:name=".statusactivity"
            android:exported="false" />
        <activity
            android:name=".DrawerActivity"
            android:exported="false" />
        <activity
            android:name=".availblejob"
            android:exported="false" />
        <activity
            android:name=".postjob"
            android:exported="false" />
        <activity
            android:name=".company"
            android:exported="false" />
        <activity
            android:name=".main"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.JobApplication.NoActionBar" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".Application_page"
            android:exported="false" />
        <activity
            android:name=".Registerusers"
            android:exported="false" />
        <activity
            android:name=".reviewJ"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>